<strong>Olá, {{ provider }}</strong>
<p>Houve um cancelamento de compra, confira os detalhes abaixo:</p>

<p>
  <strong>Cliente: </strong> {{ user }} <br />
  <strong>Data/hora: </strong> {{ date }} <br />
  <br />
  <small>
...................................................
  </small>
</p>
